.contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}
.contenido{
    &.computer{
        .barra-navegacion{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            padding-right: 1rem;
            .no-seleccionado{
                text-decoration: none;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                font-family: sans-serif;
                font-size: 1rem;
                line-height: 1.5;
                color: rgba(0, 0, 0, .55);
                -webkit-text-size-adjust: 100%;
                -webkit-tap-highlight-color: transparent;
            }
            .seleccionado{
                text-decoration: none;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                font-family: sans-serif;
                font-size: 1rem;
                line-height: 1.5;
                color:black;
                font-weight: bold;
                -webkit-text-size-adjust: 100%;
                -webkit-tap-highlight-color: transparent;
            }
            .logo-github{
                width: 35px;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }
        }
        .inicio-indicador{
            display:flex;
            flex-direction: row;
            align-items: center;
            .logo-chowlk{
                padding-left: 0.75rem;
                padding-bottom: 0.5rem;
                width: 150px;
                height: 70px;
            }
            .indicador{
                width: 150px;
                height: 40px; 
            }
            .opcion{
                margin-left: 20px;
                padding: 10px 20px; 
                border-radius: 20px;
                font-family: sans-serif;
                font-size: 16px; 
                color: #fff;
                text-align: center; 
                &.Basic{
                    background-color: #5cb85c;
                }
                &.Medium{
                    background-color: #f0ad4e;
                }
                &.Advanced{
                    background-color: #d9534f;
                }
            }
        }
    }
}
.contenido{
    &.mobile,
    &.mobile_landscape{
        display: flex;
        flex-direction: column;
        .barra-navegacion{
            display: flex;
            flex-direction: row;
            align-items: center;
            .no-seleccionado{
                text-decoration: none;
                padding-right: 0.3rem;
                padding-left: 0.3rem;
                font-family: sans-serif;
                font-size: 0.7rem;
                line-height: 1.5;
                color: rgba(0, 0, 0, .55);
                -webkit-text-size-adjust: 100%;
                -webkit-tap-highlight-color: transparent;
            }
            .seleccionado{
                text-decoration: none;
                padding-right: 0.15rem;
                padding-left: 0.15rem;
                font-family: sans-serif;
                font-size: 0.6rem;
                line-height: 1.5;
                color:black;
                font-weight: bold;
                -webkit-text-size-adjust: 100%;
                -webkit-tap-highlight-color: transparent;
            }
            .logo-github{
                width: 20px;
                padding-right: 0.3rem;
                padding-left: 0.3rem;
            }
        }
        .inicio-indicador{
            display:flex;
            flex-direction: row;
            align-items: center;
            padding-left: 0.25rem;
            .logo-chowlk{
                padding-bottom: 0.35rem;
                width: 100px;
                height: 47px;
            }
            .indicador{
                width: 100px;
                height: 30px; 
            }
            .opcion{
                margin-left: 10px;
                padding: 5px 10px; 
                border-radius: 20px;
                font-family: sans-serif;
                font-size: 16px; 
                color: #fff;
                text-align: center; 
                &.Basic{
                    background-color: #5cb85c;
                }
                &.Medium{
                    background-color: #f0ad4e;
                }
                &.Advanced{
                    background-color: #d9534f;
                }
            }
        }
        .menu{
            padding-bottom: 0.5rem;
        }
    }
}
.contenido{
    &.tablet,
    &.tablet_landscape{
        flex-direction: column;
        .barra-navegacion{
            display: flex;
            flex-direction: row;
            align-items: center;
            .no-seleccionado{
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                font-family: sans-serif;
                font-size: 1.25rem;
                line-height: 1.5;
                color: rgba(0, 0, 0, .55);
                -webkit-text-size-adjust: 100%;
                -webkit-tap-highlight-color: transparent;
            }
            .seleccionado{
                text-decoration: none;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                font-family: sans-serif;
                font-size: 1.25rem;
                line-height: 1.5;
                color:black;
                font-weight: bold;
                -webkit-text-size-adjust: 100%;
                -webkit-tap-highlight-color: transparent;
            }
            .logo-github{
                width: 14px;
                height: 14px;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }
        }
        .inicio-indicador{
            display:flex;
            flex-direction: row;
            align-items: center;
            .logo-chowlk{
                padding-bottom: 0.35rem;
                width: 100px;
                height: 47px;
            }
            .indicador{
                width: 150px;
                height: 40px; 
            }
            .opcion{
                margin-left: 10px;
                padding: 10px 20px; 
                border-radius: 20px;
                font-family: sans-serif;
                font-size: 16px; 
                color: #fff;
                text-align: center; 
                &.Basic{
                    background-color: #5cb85c;
                }
                &.Medium{
                    background-color: #f0ad4e;
                }
                &.Advanced{
                    background-color: #d9534f;
                }
            }
        }
    }
}
a:hover{
    transform: scale(1.15);
}