<div class="contenido" [ngClass]="dispositivo">
    <img src = "../../../assets/img/chowlk.png" alt="logo-chowlk" class = "logo-chowlk">
    <div class = "barra-navegacion">
        <p class = "no-seleccionado">Converter</p>
        <p class = "no-seleccionado">Notation</p>
        <p class = "no-seleccionado">Examples</p>
        <a href="index.html" class="seleccionado">Tutorial</a>
        <p class = "no-seleccionado">About</p>
        <a href="https://github.com/oeg-upm/Chowlk">
            <img src = "../../../assets/img/github.png" alt="logo-github" class = "logo-github">
        </a>
    </div>
    <mat-icon *ngIf="extendido" class="menu" (click)="expandirTabla()">menu</mat-icon>
</div>
