.tutorial{
    display: flex;
    flex-direction: row;
}
.tutorial{
    &.computer{
        .tabla-contenidos{
            width: 25%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
        .contenido-tutorial{
            width: 75%;
            height: 90%;
            position: fixed;
            top: 0;
            left: 25%;
        }
    }
}
.tutorial{
    &.mobile{
        .tabla-contenidos{
            width: 30%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
        .contenido-tutorial{
            width: 70%;
            height: 90%;
            position: fixed;
            top: 0;
            left: 30%;
        }
        .contenido-tutorial-extendido{
            width: 100%;
            height: 87%;
            position: fixed;
            top:0;
            left:0;
        }
    }
}
.tutorial{
    &.mobile_landscape{
        .tabla-contenidos{
            width: 30%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
        .contenido-tutorial{
            width: 70%;
            height: 80%;
            position: fixed;
            top: 0;
            left: 30%;
        }
    }
}
.tutorial{
    &.tablet{
        .tabla-contenidos{
            width: 25%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
        .contenido-tutorial{
            width: 75%;
            height: 88%;
            position: fixed;
            top: 0;
            left: 25%;
        }
    }
}
.tutorial{
    &.tablet_landscape{
        .tabla-contenidos{
            width: 25%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
        .contenido-tutorial{
            width: 75%;
            height: 85%;
            position: fixed;
            top: 0;
            left: 25%;
        }
    }
}