<app-header [dispositivo]="dispositivo" [extendido]="extendido" [apartado]="apartado"></app-header>
<div class = "contenido" [ngClass]="dispositivo">
    <div class="info-pagina">
        <h1 class="titulo">Chowlk Tutorial</h1>
        <p class="resumen">Interactive tutorials and video tutorials on using Chowlk to convert diagrams.net 
            ontology conceptualizations to OWL implementations</p>
            <div class="contacto">
                <p class="resaltado">Contact:</p>
                <p>
                    María Poveda-Villalón
                    <br>
                    Contact email: chowlk&#64;delicias.dia.fi.upm.es
                </p>
            </div>
            <div class="authors">
                <p class="resaltado">Authors:</p>
                <a class="link" href="https://thepetiteontologist.wordpress.com/"> María Poveda-Villalón(</a>
                <a class="link-sin-espacio" href="https://oeg.fi.upm.es/">Ontology Engineering Group, </a>
                <a class="link-sin-espacio" href="https://www.upm.es/">Universidad Politécnica de Madrid)</a>
                <br>
                <a class="link" href="http://www.garcia-castro.com/"> Raúl García-Castro(</a>
                <a class="link-sin-espacio" href="https://oeg.fi.upm.es/">Ontology Engineering Group, </a>
                <a class="link-sin-espacio" href="https://www.upm.es/">Universidad Politécnica de Madrid)</a>
                <br>
                <a class="link" href="https://www.linkedin.com/in/serge-chavez-feria/"> Serge Chávez-Feria(</a>
                <a class="link-sin-espacio" href="https://oeg.fi.upm.es/">Ontology Engineering Group, </a>
                <a class="link-sin-espacio" href="https://www.upm.es/">Universidad Politécnica de Madrid)</a>
                <br>
                <a class="link" href="https://www.linkedin.com/in/sergio-mario-carulli-p%C3%A9rez-7632b5217/"> Sergio-Mario Carulli-Pérez(</a>
                <a class="link-sin-espacio" href="https://oeg.fi.upm.es/">Ontology Engineering Group, </a>
                <a class="link-sin-espacio" href="https://www.upm.es/">Universidad Politécnica de Madrid)</a>
                <br>
                <a class="link" href="https://www.linkedin.com/in/alejandro-rujas-fern%C3%A1ndez-b28867207/"> Alejandro Rujas Fernández(</a>
                <a class="link-sin-espacio" href="https://www.upm.es/">Universidad Politécnica de Madrid)</a>
            </div>
            <div class="last-update">
                <p class="resaltado">Last Update:</p>
                <p class="link">2024-03-20</p>
            </div>
            <div class="library">
                <p class="resaltado">Chowlk Diagrams.net Library (lightweight version):</p>
                <a class="link" href="../../assets/files/chowlk-library-lightweight.xml" download="chowlk-library-lightweight"> Download</a>
            </div>
            <div class="library" style="padding-bottom: 2.5rem;">
                <p class="resaltado">Chowlk Diagrams.net Library (complete version):</p>
                <a class="link" href="../../assets/files/chowlk-library-complete.xml" download="chowlk-library-complete"> Download</a>
            </div>
    </div>
    <p class="encabezado" id="introduction">
        <b>Introduction</b>
    </p>
    <div class="apartado">
        <p class="texto">
            Welcome to the Chowlk tutorial series, where you can embark on your journey to master Chowlk notation and OWL implementations. Whether you're a beginner eager to explore the basics or an advanced user looking to deepen your understanding, we've got you covered with our comprehensive set of lessons tailored to different skill levels. Our tutorial series is divided into three difficulty levels: basic, intermediate, and advanced. Each level offers a curated selection of topics and exercises to meet your specific learning needs and goals.
        </p>
        <p class="encabezado-2">
            <b>Explore the Fundamentals</b>
        </p>
        <p class="texto">
            In the basic level, you'll dive into foundational concepts like class definition, object properties, and datatype properties. Perfect for beginners, these lessons provide a solid understanding of Chowlk notation and lay the groundwork for more advanced topics.
        </p>
        <p class="encabezado-2">
            <b>Enhance Your Skills</b>
        </p>
        <p class="texto">
            Transition to the intermediate level to deepen your knowledge with topics like equivalent classes, functional properties, and property restrictions. These lessons challenge you to apply your understanding to more complex scenarios and broaden your expertise in Chowlk.
        </p>
        <p class="encabezado-2">
            <b>Master Advanced Concepts</b>
        </p>
        <p class="texto">
            For advanced users seeking mastery, the advanced level delves into intricate topics such as class descriptions, enumerated datatypes, and advanced property constraints. These lessons offer a deep dive into the intricacies of Chowlk notation, equipping you with the skills to tackle complex ontology modeling projects with confidence.
        </p>
    </div>
    <app-selector-dificultad  [dispositivo]="dispositivo" (difficultySelected)="onDifficultySelected($event)"></app-selector-dificultad>
    <router-outlet></router-outlet>
</div>
