<app-header [dispositivo]="dispositivo" [extendido]="extendido"></app-header>
<div class = "contenido" [ngClass]="dispositivo">
    <div class="info-pagina">
        <h1 class="titulo">Chowlk Tutorial</h1>
        <p class="resumen">Interactive tutorials and video tutorials on using Chowlk to convert diagrams.net 
            ontology conceptualizations to OWL implementations</p>
            <div class="contacto">
                <p class="resaltado">Contact:</p>
                <p>
                    María Poveda-Villalón
                    <br>
                    Contact email: chowlk&#64;delicias.dia.fi.upm.es
                </p>
            </div>
            <div class="authors">
                <p class="resaltado">Authors:</p>
                <a class="link" href="https://thepetiteontologist.wordpress.com/"> María Poveda-Villalón(</a>
                <a class="link-sin-espacio" href="https://oeg.fi.upm.es/">Ontology Engineering Group, </a>
                <a class="link-sin-espacio" href="https://www.upm.es/">Universidad Politécnica de Madrid)</a>
                <br>
                <a class="link" href="http://www.garcia-castro.com/"> Raúl García-Castro(</a>
                <a class="link-sin-espacio" href="https://oeg.fi.upm.es/">Ontology Engineering Group, </a>
                <a class="link-sin-espacio" href="https://www.upm.es/">Universidad Politécnica de Madrid)</a>
                <br>
                <a class="link" href="https://www.linkedin.com/in/serge-chavez-feria/"> Serge Chávez-Feria(</a>
                <a class="link-sin-espacio" href="https://oeg.fi.upm.es/">Ontology Engineering Group, </a>
                <a class="link-sin-espacio" href="https://www.upm.es/">Universidad Politécnica de Madrid)</a>
                <br>
                <a class="link" href="https://www.linkedin.com/in/sergio-mario-carulli-p%C3%A9rez-7632b5217/"> Sergio-Mario Carulli-Pérez(</a>
                <a class="link-sin-espacio" href="https://oeg.fi.upm.es/">Ontology Engineering Group, </a>
                <a class="link-sin-espacio" href="https://www.upm.es/">Universidad Politécnica de Madrid)</a>
            </div>
            <div class="last-update">
                <p class="resaltado">Last Update:</p>
                <p class="link">2024-03-20</p>
            </div>
            <div class="library">
                <p class="resaltado">Chowlk Diagrams.net Library (lightweight version):</p>
                <a class="link" href="../../assets/files/chowlk-library-lightweight.xml" download="chowlk-library-lightweight"> Download</a>
            </div>
            <div class="library" style="padding-bottom: 2.5rem;">
                <p class="resaltado">Chowlk Diagrams.net Library (complete version):</p>
                <a class="link" href="../../assets/files/chowlk-library-complete.xml" download="chowlk-library-complete"> Download</a>
            </div>
    </div>
    <div id="getting-started" class="apartado" style="padding-top: 2rem;">
        <p class="encabezado">
            <b>Getting Started with Chowlk: Your First Experience</b>
        </p>
        <p class="texto">
            Embark on your Chowlk journey with our introductory tutorial series. These lessons are designed to
            acquaint you with the fundamental concepts of Chowlk, enabling you to seamlessly transition into
            creating OWL implementations from your diagrams.net ontology conceptualizations. Feel free to explore
            as many or as few lessons as you prefer, and tackle them in any order that suits your learning style
        </p>
    </div>
    <div id="introduction" class="apartado">
        <p class="encabezado">
            <b>Introduction</b>
        </p>
        <p class="texto">
            Content of Introduction
        </p>
    </div>
</div>
