<div class="tabla" [ngClass]="dispositivo">
    <mat-icon *ngIf="(dispositivo == 'mobile')" class="contraer" (click)="contraerTabla()">close</mat-icon>
    <h4 class="titulo">Table of Contents</h4>
    <div class="contenido">
        <div class="principal">
            <a href="#introduction" class="link">
                Basic
            </a>
            <mat-icon class="contraer-expander" (click)="contraerDificultad()" *ngIf="diffTabla == 'Basic'">keyboard_arrow_up</mat-icon>
            <mat-icon class="contraer-expander" (click)="expandirDificultad('Basic')" *ngIf="diffTabla != 'Basic'">keyboard_arrow_down</mat-icon>
        </div>
        <div *ngIf="diffTabla == 'Basic'">
            <div class="secundario">
                <a [routerLink]="['Basic']" fragment="specification" (click)="scrollToSelector('specification')" class="link">
                    Specification
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Basic']" fragment="classidentifier" (click)="scrollToSelector('classidentifier')" class="link">
                    Class identifier
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Basic']" fragment="subclass" (click)="scrollToSelector('subclass')" class="link">
                    Subclass
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Basic']" fragment="objectproperties" (click)="scrollToSelector('objectproperties')" class="link">
                    Object Properties
                </a>
            </div>
            <div class="cuaternario">
                <a [routerLink]="['Basic']" fragment="domainandrange1" (click)="scrollToSelector('domainandrange1')" class="link">
                    Domain and Range
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Basic']" fragment="datatypeproperties" (click)="scrollToSelector('datatypeproperties')" class="link">
                    Datatype Properties
                </a>
            </div>
            <div class="cuaternario">
                <a [routerLink]="['Basic']" fragment="domainandrange2" (click)="scrollToSelector('domainandrange2')" class="link">
                    Domain and Range
                </a>
            </div>
            <div class="terciario">
                 <a [routerLink]="['Basic']" fragment="subproperty" (click)="scrollToSelector('subproperty')" class="link">
                    Sub-Property
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Basic']" fragment="individuals" (click)="scrollToSelector('individuals')" class="link">
                    Individuals
                </a>
            </div>
            <div class="cuaternario">
                <a [routerLink]="['Basic']" fragment="classmembership" (click)="scrollToSelector('classmembership')" class="link">
                    Class Membership
                </a>
            </div>
            <div class="cuaternario">
                <a [routerLink]="['Basic']" fragment="propertyvalues" (click)="scrollToSelector('propertyvalues')" class="link">
                    Property Values
                </a>
            </div>
        </div>
    </div>
    <div class="contenido">
        <div class="principal">
            <a href="#introduction" class="link">
                Medium
            </a>
            <mat-icon class="contraer-expander" (click)="contraerDificultad()" *ngIf="diffTabla == 'Medium'">keyboard_arrow_up</mat-icon>
            <mat-icon class="contraer-expander" (click)="expandirDificultad('Medium')" *ngIf="diffTabla != 'Medium'">keyboard_arrow_down</mat-icon>
        </div>
        <div *ngIf="diffTabla == 'Medium'">
            <div class="secundario">
                <a [routerLink]="['Medium']" fragment="specification2" (click)="scrollToSelector('specification2')" class="link">
                    Specification
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Medium']" fragment="equivalent" (click)="scrollToSelector('equivalent')" class="link">
                    Equivalent
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Medium']" fragment="disjoint" (click)="scrollToSelector('disjoint')" class="link">
                    Disjoint
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Medium']" fragment="functionalproperties" (click)="scrollToSelector('functionalproperties')" class="link">
                    Functional Properties Object
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Medium']" fragment="inversefunctionalproperties" (click)="scrollToSelector('inversefunctionalproperties')" class="link">
                    Inverse Functional Properties
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Medium']" fragment="symmetricproperties" (click)="scrollToSelector('symmetricproperties')" class="link">
                    Symmetric Properties
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Medium']" fragment="transitiveproperties" (click)="scrollToSelector('transitiveproperties')" class="link">
                    Transitive Properties
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Medium']" fragment="equivalentproperty" (click)="scrollToSelector('equivalentproperty')" class="link">
                    Equivalent Property
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Medium']" fragment="inverseproperty" (click)="scrollToSelector('inverseproperty')" class="link">
                    Inverse Property
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Medium']" fragment="disjointproperty" (click)="scrollToSelector('disjointproperty')" class="link">
                    Disjoint Property
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Medium']" fragment="functionalproperties2" (click)="scrollToSelector('functionalproperties2')" class="link">
                    Functional Properties Datatype
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Medium']" fragment="sameas" (click)="scrollToSelector('sameas')" class="link">
                    Same As
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Medium']" fragment="differentfrom" (click)="scrollToSelector('differentfrom')" class="link">
                    Different From
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Medium']" fragment="alldifferent" (click)="scrollToSelector('alldifferent')" class="link">
                    All Different
                </a>
            </div>
        </div>
    </div>
    <div class="contenido">
        <div class="principal">
            <a href="#introduction" class="link">
                Advanced
            </a>
            <mat-icon class="contraer-expander" (click)="contraerDificultad()" *ngIf="diffTabla == 'Advanced'">keyboard_arrow_up</mat-icon>
            <mat-icon class="contraer-expander" (click)="expandirDificultad('Advanced')" *ngIf="diffTabla != 'Advanced'">keyboard_arrow_down</mat-icon>
        </div>
        <div *ngIf="diffTabla == 'Advanced'">
            <div class="secundario">
                <a [routerLink]="['Advanced']" fragment="specification3" (click)="scrollToSelector('specification3')" class="link">
                    Specification
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Advanced']" fragment="classdescriptions" (click)="scrollToSelector('classdescriptions')" class="link">
                    Class Descriptions
                </a>
            </div>
            <div class="cuaternario">
                <a [routerLink]="['Advanced']" fragment="enumeration" (click)="scrollToSelector('enumeration')" class="link">
                    Enumeration
                </a>
            </div>
            <div class="cuaternario">
                <a [routerLink]="['Advanced']" fragment="restriction" (click)="scrollToSelector('restriction')" class="link">
                    Restriction
                </a>
            </div>
            <div class="quinario">
                <a [routerLink]="['Advanced']" fragment="valueconstraints" (click)="scrollToSelector('valueconstraints')" class="link">
                    Value Constraints
                </a>
            </div>
            <div class="quinario">
                <a [routerLink]="['Advanced']" fragment="cardinalityconstraints" (click)="scrollToSelector('cardinalityconstraints')" class="link">
                    Cardinality Constraints
                </a>
            </div>
            <div class="quinario">
                <a [routerLink]="['Advanced']" fragment="qualifiedcardinalityconstraints" (click)="scrollToSelector('qualifiedcardinalityconstraints')" class="link">
                    Qualified Cardinality Constraints
                </a>
            </div>
            <div class="cuaternario">
                <a [routerLink]="['Advanced']" fragment="intersection" (click)="scrollToSelector('intersection')" class="link">
                    Intersection
                </a>
            </div>
            <div class="cuaternario">
                <a [routerLink]="['Advanced']" fragment="union" (click)="scrollToSelector('union')" class="link">
                    Union
                </a>
            </div>
            <div class="cuaternario">
                <a [routerLink]="['Advanced']" fragment="complement" (click)="scrollToSelector('complement')" class="link">
                    Complement
                </a>
            </div>
            <div class="terciario">
                <a [routerLink]="['Advanced']" fragment="enumerateddatatypes" (click)="scrollToSelector('enumerateddatatypes')" class="link">
                    Enumerated Datatypes
                </a>
            </div>
        </div>
    </div>
</div>
