<div class="tabla">
    <h4 class="titulo">Table of Contents</h4>
    <div class="contenido">
        <div class="principal">
            <a href="#getting-started" class="link">
            Tutorial: Your First Experience
            </a>
            <mat-icon class="ocultar">expand_less</mat-icon>
        </div>
        <div class="secundario">
            <a href="#introduction" class="link">
            Introduction
            </a>
        </div>
        <div class="secundario">
            <a href="" class="link">
                Classes
            </a>
            <mat-icon class="ocultar">expand_less</mat-icon>
        </div>
        <div class="terciario">
            <a href="" class="link">
                Class Description
            </a>
            <mat-icon class="ocultar">expand_less</mat-icon>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Enumeration
            </a>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Restrictions
            </a>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Intersection, union and complement
            </a>
        </div>
        <div class="terciario">
            <a href="" class="link">
                Class axioms
            </a>
            <mat-icon class="ocultar">expand_less</mat-icon>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Subclass
            </a>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Equivalent
            </a>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Disjoint
            </a>
        </div>
        <div class="secundario">
            <a href="" class="link">
                Properties
            </a>
            <mat-icon class="ocultar">expand_less</mat-icon>
        </div>
        <div class="terciario">
            <a href="" class="link">
                RDF Schema constructs
            </a>
            <mat-icon class="ocultar">expand_less</mat-icon>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Sub Property
            </a>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Domain
            </a>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Range
            </a>
        </div>
        <div class="terciario">
            <a href="" class="link">
                Relations to other properties
            </a>
            <mat-icon class="ocultar">expand_less</mat-icon>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Equivalent Property
            </a>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Inverse
            </a>
        </div>
        <div class="terciario">
            <a href="" class="link">
                Cardinality
            </a>
            <mat-icon class="ocultar">expand_less</mat-icon>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Functional Property
            </a>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Inverse Functional Property
            </a>
        </div>
        <div class="terciario">
            <a href="" class="link">
                Logical Characteristics
            </a>
            <mat-icon class="ocultar">expand_less</mat-icon>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Transitive Property
            </a>
        </div>
        <div class="cuaternario">
            <a href="" class="link">
                Symmetric Property
            </a>
        </div>
    </div>
</div>
